$white:#fff;
$second-white: #f7f8f3;
$dark-white:#f1f1f1;
$light-grey:#e1e1e1;
$light-black: #1c1c1b;
$black: #000;
$dark-green2: #6d7749;
$dark-green: #6e774a;
$light-green:#9cb891;
$second-green:#cdd5af;
$oswald-light: 'Oswald Light';
$oswald-regular: 'Oswald Regular';
$sans-serif: sans-serif;
$tablet-bp: 1024px;
$mobile-bp: 768px;