.icon {
    &-line {
        display: inline-block;
        width: 45px;
        height: 2px;
        background-color: $second-white;
        transition: width .3s linear;
    }
    &-vertical {
        display: inline-block;
        width: 107px;
        height: 3px;
        background-color: $second-white;
        margin-right: 30px;
    }
    &-arrow {
        transform: translateX(0);
        transition: transform .3s linear;
    }
}

.link {
    &:hover {
        .icon-arrow {
            transform: translateX(-10px);
        }
    }
}

.btn {
    &:hover {
        .icon-line {
            margin-left: 0;
            width: 0;
        }
    }
}